.home {
  
  display: flex;
  flex-direction: row;
  background-color: #E9C46A;
  
  /* flex-wrap:wrap; */
  
  /* width: 100%;
  flex-direction: column;
  justify-content: center; */
  /* min-height: 101vh;  */
  
}
.headerTitle{
  background-color: blue;
}
.sideBar {

  background-color: #E76F51;
  width: auto;
  height:100vh;
  border: 1px solid;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
 

  
 
 
  /* height: 100%;
  width: 30%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 40px;
  background-color: lightblue; */
  }

/* .tableContainer {
  padding-left: 20em;
  padding-top: 7rem;
  display: flex;
  position: absolute;
  left:500;
  flex-direction: column;
  align-items: center;
  
  max-width: 70%;

} */
.tableContainer {
  /* background-color: aqua; */
  /* padding-top:3em; */
  /* padding-left: 10em; */
  width:auto;
  align-items: center;
  margin:auto;
  margin-top: 3em;

}

p{
  margin-bottom: 0em;
}

.add-user-btn{
  width:100%;
  height:auto;
}

.form-control{
  width:95%;

}

